/* ---------------------------------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(120deg, #c4eef9 0%, #00c8ff 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dela+Gothic+One&family=Orbitron&display=swap');

/* ---------------------------------------------------------------------------------------------------------------- */

.wrapper{
  margin: 0 auto;
  width: 70%;
}

/* ------------------------------- Header -------------------------------------- */

header{
  background-image: linear-gradient(120deg, #89C7E7 0%, #89C7E7 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.header a{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#toggle1 {
  display: none;
}

.headerImage{
  width: auto;
  height: 200px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #89C7E7;
}

nav a{
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-decoration: none;
  background-color: #ADD8E5;
  padding: 20px;
}

header nav a:hover{
  transform: scale(1.3);
}

/* ------------------------------- Main -------------------------------------- */
.main{
  margin-top: 10vh;
}
p, img{
  width: 100%;
}
.class1{
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 30px 0px;
}
.class3{
  display: flex;
  flex-direction: column;
}
.class2{
  margin: 30px;
}

main h1{
  color: #FFD301;
  font-size: 50px;
  text-align: center;
}

.homespan{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: black 1px solid;
  margin-bottom: 130px;
}

.homespan img:hover{
  transform: scale(1.1);
}

.constructieinfo p{
  font-size: 20px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 130px;
  margin-top: 70px;
  border-bottom: 1px black solid;
  padding-bottom: 40px;
  text-align: center;
}

.homespan1{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.homespan1 p{
  margin-top: 40px;
  font-weight: bold;
  font-size: 30px;
}

.supercoaster{
  margin-top: 50px;
  border-bottom: black 1px solid;
}

.homespan1 img{
  margin: 30px;
  border-radius: 50px;
}

.h1karretjes{
  margin-top: 30px;
  margin-bottom: 50px;
}

.karretjes{
  display: flex;
  flex-direction: column;
}

.karretjes p{
  margin-left: 50px;
  font-weight: bold;
  font-size: 30px;margin-bottom: 30px;
}

.main .supercoaster{
  margin-bottom: 120px;
}

.Form{
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
.Form_items{
  display: flex;
  justify-content: space-between;
}
.form_item{
  margin: 10px 0px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px;
}
#name{
  width: 400px;
}
#email{
  width: 400px;
}

.imageButtons{
  display: flex;
  justify-content: space-between;
  margin-top: -35px;
}
img{
  width: 500px;
  height: 300px;
}

.main{
  border-bottom: black 1px solid;
  margin-bottom: 130px;
}

.main h1{
  font-size: 50px;
  margin-bottom: 50px;
}




/* ------------------------------- Footer -------------------------------------- */
footer{
  background-image: linear-gradient(120deg, #89C7E7 0%, #89C7E7 100%);
  border-top: black solid 1px;
  padding: 20px;
}
footer a{
  text-decoration: none;
  color: #FFF684;
  font-size: 40px;
}
.social-media{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 30px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}


.footernav{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.footernav a{
  margin-left: 40px;
}

.contact-info{
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.ct{
  font-size: 20px;
  margin-left: 40px;
  color: #FFD301;
  font-weight: bold;
}

.copy{
  font-size: 15px;
  margin-top: 40px;
}

.contactinfo{
  font-size: 27px;
  font-weight: bold;
}

/* ========================================================== */
.h1Home{
  margin-top: 50px;
  margin-bottom: 50px;
}

.pHome{
  margin-bottom: 50px;
  margin-top: 40px;
}